:root{
    --main-color: #2fc25b;
    --navbar-height: 50px;
    --taskList-width:300px;
    --urgencyN-color:#2fc25b;
    --urgencyU-color:#fce14d;
    --urgencyVU-color:#df3939;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: #d8d8d8;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

#root{
    width:100%;
    height:100%;
}

#NavBar{
    position:fixed;
    height: var(--navbar-height);
    width: 100%;
    background-color: var(--main-color);
    box-shadow: 0px 0px 7px #3f3f3f;
    display: inline-flex;
}

#NavBar > .NavItem:nth-child(1){
    font-weight: 400;
    font-size:35px;
    margin-right: 10px;
    color:#FFF;
}

#NavBar > .NavItem{
    color:#ffffffda;
    display: inline-flex;
    align-items: center;
    padding: 0px 5px;
    cursor:pointer;
    font-weight: 400;
    font-size: 20px;
}

#NavBar > .NavItem:hover:nth-last-child(-n+2){
    background-color: #26a04a;
    color: #FFF;
}

#navSpacer{
    height: var(--navbar-height);
    width:100%;
    background-color: var(--main-color);
}

#tasks-container{
    display:inline-flex;
    width:100%;
    height: calc(100% - 50px);
}

#tasks-list{
    background-color:white;
    border-right:solid 3px #ebebeb;
    width:var(--taskList-width);
    overflow-y: scroll;
}
.task-item{
    border-bottom:solid 1px #ebebeb;    
}

.item-normal{
    border-left:solid 8px var(--urgencyN-color);
}

.item-urgent{
    border-left:solid 8px var(--urgencyU-color);
}

.item-veryUrgent{
    border-left:solid 8px var(--urgencyVU-color)
}

.task-item.item-normal:hover , .task-item.item-normal:hover .task-itemDesc{
    cursor:pointer;
    background-color: var(--urgencyN-color);
    color:white;
}

.task-item.item-urgent:hover , .task-item.item-urgent:hover .task-itemDesc{
    cursor:pointer;
    background-color: var(--urgencyU-color);
    color:white;
}

.task-item.item-veryUrgent:hover , .task-item.item-veryUrgent:hover .task-itemDesc{
    cursor:pointer;
    background-color: var(--urgencyVU-color);
    color:white;
}

.task-item:hover{
    box-shadow: 0px 0px 7px #3f3f3f;
}

.task-itemTitle{
    font-size:19px;
    font-weight: 400;
    padding-left:2px;
}

.task-itemDesc{
    color:#a3a3a3;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left:4px;
}

#task-show{
    flex:1;
    padding:0px 0px;
    background-color:#ffffff;
}

#task-showTitle{
    font-size:32px;
    width: 98%;
    margin:auto;
}

#task-show input[type="text"]{
    border: 0px;
    font-size: inherit;
    outline: none;
    border-radius: 5px;
    width:100%;
    background-color: inherit;
}

#task-show input[type="text"]:hover{
    background-color: #f3f3f3;
}

#task-show input[type="text"]:focus{
    outline: solid 1px #d8d8d8;
}
#task-showDescription{
    width:75%;
    margin-top:20px;
    margin-left:10px;
    height: 250px;
    display:inline-flex;
    flex-flow: column;
}

.task-description{
    border:0px;
    border-radius: 5px;
    padding: 5px 5px 15px 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}


.task-description:hover{
    background-color: #f3f3f3;
}

.task-description:focus{
    border: solid 1px #d8d8d8;
    outline:none;
    background-color: #fdfdfd;
}

#task-functions {
    width:75px;
    height: 100%;
    background-color:#f0f0f0;
    display: inline-flex;
    justify-content: space-evenly;
    flex-flow:column;
    padding:0px 5px;
    border-left:solid 2px #e4e4e4;
}

.task-function{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-flow:column;
    width:100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size:15px;
    color:#686868;
    padding: 5px 0px;
    border-radius: 10px;
}

.task-function:hover{
    cursor:pointer;
    background-color: #f7f7f7;
}